@model CompiledConfig.Models.AppleViewModel

<style>
    label {
        font-weight: bold;
        display:inline-block;
        width:100px;
    }
</style>

<div><label >Stem Color</label> @Model.StemColor</div>
<div><label >Leaf Color</label> @Model.LeafColor</div>
<div><label >Body Color</label> @Model.BodyColor</div>
