---
layout: default.njk
title: "Device Settings"
summary: "Some minor customizations"
eleventyExcludeFromCollections: true
permalink: "settings/index.html"
pageClass: settings
---


<h1 class="page-title">{{title}}</h1>

<section class="intro">
Device specific settings are saved in <code>localStorage</code> on this device
</section>

<h3 class="mt-2 mb-0" id="site-theme">Site Theme</h3>
<div class="settings-row">

  <div class="display-toggle">

    <label for="light" class="display-toggle-text">Light</label>

    <div class="display-toggle-group">
      <label >
        <input type="radio" name="site-theme" value="light" id="light" checked>
        {% include "assets/images/icons/fa/lightbulb-on.svg" %}
      </label>
      <label >
        <input type="radio" name="site-theme" value="dark" id="dark">
        {% include "assets/images/icons/fa/lightbulb-slash.svg" %}
      </label>
    </div>

    <label for="dark" class="display-toggle-text">Dark</label>
  </div>

  <div id="site-theme-system" class="site-theme-system radio-hidden">
    <div class="display-toggle-group">
      <label >
        <input type="radio" name="site-theme" value="system" id="system">
        {% include "assets/images/icons/fa/laptop.svg" %}
      </label>
    </div>

    <label for="system" class="display-toggle-text">
      Use System Theme: <b id="system-theme-current"></b>
    </label>
      
  </div>

</div>


<h3 class="mt-2 mb-0" id="density">Display Density</h3>

<div class="display-settings"> 
  {% include "_partials/displayDensity.njk" %}
</div>

<h3 class="mt-2 mb-0" id="theme">Syntax Highlighting Theme</h3>

<div class="theme-picker">

  <ol class="themes list-unstyled radio-hidden">
    <li class="opt-group">
      <span class="opt-group-title themes-dark">Dark</span>
      <ol class="list-unstyled">
        <li>
          <label >
            <input type="radio" name="theme" value="ocean" id="ocean" checked >
            <span>Ocean</span>
          </label>
        </li>
        <li>
            <label >
              <input type="radio" name="theme" value="vs" id="vs" >
              <span>VS 2015</span>
            </label>
        </li>
      </ol>
    </li>

    <li class="opt-group">
      <span class="opt-group-title themes-light">Light</span>
      <ol class="list-unstyled">
        <li>
          <label >
            <input type="radio" name="theme" value="gist" id="gist" >
            <span>Gist</span>
          </label>
        </li>
        <li>
          <label >
            <input type="radio" name="theme" value="github" id="github" >
            <span>Github</span>
          </label>
        </li>
      </ol>
    </li>

  </ol>

  {% markdown %}
  ```html
  <!doctype html>
  <html lang="en">
      <head>
          <!-- comment -->
          <title>Coding Everything</title>
      </head>
      <body class="page"></body>
  </html>
  ```
  {% endmarkdown %}

</div>



<style type="text/css">
.settings .display-toggle {
  float: none;
}

/* site theme */

.settings-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.site-theme-system {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-left: 2em;
}

.site-theme-system > label {
    display: flex;
    align-items: center;
}
.site-theme-system .display-toggle-group label:first-child svg {
    border-right: none;
}
#system-theme-current {
    margin-left: 5px;
}


/* syntax theme  */
.theme-picker {
    display: flex;
    margin-top: 1rem;
}

.theme-picker pre {
    margin: 0;
    flex-grow: 1;
}

.themes {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.themes label {
    cursor: pointer;
}

.themes .opt-group ol {
    margin-left: 1rem;
}

.radio-hidden input[type=radio] {
    height: 0;
    width: 0;
    position: absolute;
    left: -999px;
}

.opt-group .themes-dark {
  width: 7em;
  background: #4c4c4c;
  color: white;
}
.opt-group .themes-light {
  width: 7em;
  background: #f1f1f1;
  color: black;
}
.themes span {
    width: 6em;
    display: inline-block;
    padding: 0px 5px;
    border-radius: 2px;
    background: transparent;
    transition: background .4s ease;
}
.themes :checked + span {
    background: #dce7ff;
    border-left: 2px solid #2565f9;
}

.themes label:hover span {
    background: #cfdaf5;
}


@media (max-width: 650px) {
  .theme-picker {
    flex-direction: column;
  }

  .themes :checked + span {
      border-left: none;
      border-bottom: 2px solid #2565f9;
  }

  .themes {
      flex-direction: row;
      margin-bottom: 1rem;
  }

  .themes span {
    width: auto;
    padding: 0px 5px;
    margin-right: .5rem;
  }
  
}
@media (max-width: 280px) {
    .themes {
        flex-direction: column;
    }    
}

</style>

<script type="text/javascript">

    var colorSchemeLight = window.matchMedia('(prefers-color-scheme: light)')
    var colorSchemeDark = window.matchMedia('(prefers-color-scheme: dark)')
    var supportsColorScheme = colorSchemeLight.matches || colorSchemeDark.matches

    var elSysThemeBlock = document.getElementById("site-theme-system")
    var elSysThemeCurrent = document.getElementById("system-theme-current")

    if (!supportsColorScheme) { elSysThemeBlock.style.display = "none" }


    var sysThemeCurrent = colorSchemeLight.matches ? "Light" : "Dark"
    elSysThemeCurrent.innerText = sysThemeCurrent;

    // add listener to catch changes
    colorSchemeLight.addListener(function() {
      var sysThemeCurrent = colorSchemeLight.matches ? "Light" : "Dark"
      elSysThemeCurrent.innerText = sysThemeCurrent;
    })
    
</script>
