/* unset global styles */

img[src$=".svg"],
svg {
    max-width: initial;
}


/* page layout */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* ie11 fallback */

header.header,
main.content,
footer.footer,
div.banner {
    margin-left: 225px;
}

body {
    /* old display for ie11 compatibility */
    display: flex;
    flex-direction: column;
}

@supports (display: grid) {
    /* if we have grid, we don't need left margin */
    header.header,
    main.content,
    footer.footer,
    div.banner {
        margin-left: 0;
    }
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 225px 1fr minmax(100px, 48rem) 1fr;
    grid-template-areas: "nav banner banner banner" "nav . head ." "nav . main ." "nav foot foot foot";
    min-height: 100%;
}

body.toc-layout {
    grid-template-columns: 225px 1fr minmax(100px, 48rem) 1fr 225px;
    grid-template-areas: "nav banner banner banner banner" "nav . head . ." "nav . main . toc" "nav foot foot foot foot";
}

header.header,
main.content,
footer.footer {
    padding: 1rem;
}

.banner {
    grid-area: banner
}

header.header {
    grid-area: head
}

main.content {
    grid-area: main
}

footer.footer {
    grid-area: foot
}

nav.sidenav {
    grid-area: nav
}

aside.toc {
    grid-area: toc
}

main.content {
    position: relative;
}


/* sidenav */

.sidenav {
    background: #562bbd;
    background: linear-gradient(180deg, #562bbd 66%, #090979 100%);
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 225px;
    overflow-x: hidden;
    padding: 0;
    z-index: 10;
    transition: left .3s ease;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 10px 0px;
}

.sidenav a {
    color: #e8f6fd;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-left: 4px solid transparent;
    transition: color .4s ease, border-left-color .4s ease;
}

.sidenav a svg {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.page .sidenav a.active,
.page .sidenav a:hover,
.page .sidenav a:focus {
    color: #ffffff;
    border-left-color: #f4177f;
}

.sidenav .divider {
    height: 1px;
    min-height: 1px;
    /* prevent sub-pixel rendering */
    background: #ffffff33;
    margin: 5px 18px;
}

@media (max-width: 1100px) {
    body.toc-layout {
        grid-template-columns: 225px 1fr minmax(100px, 48rem) 1fr;
        grid-template-areas: "nav banner banner banner" "nav . head ." "nav . main ." "nav foot foot foot";
    }
    aside.toc {
        display: none;
    }
}

@media (min-width: 865px) {
    /* had nav toggles by default */
    .page .hamburger {
        display: none
    }
}

@media (max-width: 865px) {
    /* only show nav toggles on small screens */
    .page .hamburger {
        display: flex
    }
    header.header,
    main.content,
    footer.footer,
    div.banner {
        margin-left: 0;
    }
    /* remove nav from grid-template */
    body.page {
        grid-template-columns: 1fr minmax(100px, 48rem) 1fr;
        grid-template-areas: "banner banner banner" ". head ." ". main ." "foot foot foot";
    }
    /* animated opening by changing left toggle */
    .nav-closed nav.sidenav {
        left: -240px;
    }
    .nav-closed nav.sidenav {
        left: -240px;
    }
    body:not(.nav-closed) .banner {
        margin-left: 225px;
    }
    .header .brand {
        justify-content: flex-start;
    }
}


/* table of contents */

aside.toc {
    position: sticky;
    top: -15px;
    height: 100vh;
    padding: 0px 10px;
    overflow-y: auto;
}

.toc>h3 {
    margin-top: 2.6rem;
}

.toc ol {
    list-style: none;
    padding-left: 0;
}

.toc ol ol {
    padding-left: 15px;
}

.toc ol ol ol {
    padding-left: 0;
}

.toc a {
    color: #66777d;
    text-decoration: none;
    position: relative;
    transition: color .3s ease;
    width: 100%;
    display: inline-block;
}

.toc a:hover,
.toc li.active>a {
    color: #1a7498;
}

.toc a::before {
    content: "{";
    color: #1a7498;
    font-weight: bold;
    position: absolute;
    left: -10px;
    top: -1px;
    opacity: 0;
    transition: opacity .3s ease;
}

.toc a:hover::before,
.toc li.active>a::before {
    opacity: 1;
}


/* typography */

body {
    line-height: 1.6;
    font-size: 16px;
    color: #2d2d2d;
    background: hsl(59, 100%, 99%);
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-family: 'Noto Serif', serif;
}

h2 {
    margin-top: 1.4em;
}

h3 {
    margin-top: 1.3em;
}

#header {
    font-family: 'Noto Serif', serif;
}

h1 a,
h2 a,
h3 a {
    line-height: 1.4;
}

h1,
.post-title,
.page-title {
    font-size: 2.1rem;
    font-weight: bold;
    color: #562bbd;
    text-decoration: none;
}

p,
blockquote,
pre.hljs-container {
    margin: 1rem 0px;
}

pre,
code {
    font-family: 'Fira Code', monospace;
    font-size: .9em;
}

code {
    border-radius: 2px;
    padding: 1px 2px;
    border: 1px solid #ffedd2;
    background: #fff8ee;
}

kbd {
    border: 1px solid #6a6a6a;
    padding: 1px 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #8080806e;
}


/* allow anchor background to be visible */

a>code {
    border: 1px solid rgba(255, 237, 210, 0.80);
    background: rgba(255, 237, 210, 0.40);
}

pre code {
    width: 100%;
    display: block;
    border: none;
    background: inherit;
    overflow-x: auto;
    padding: 0.5em;
    max-height: 40rem;
}

s {
    text-decoration: none;
    color: #7f7a75;
}

small {
    font-size: .8em;
}

blockquote {
    margin: 0;
    padding: 0.1em 1em;
    border-left: 2px solid hsl(198, 72%, 37%);
    background: #f6fcff;
}

blockquote strong {
    color: #066188
}

.content blockquote a {
    background-image: linear-gradient(transparent 0, transparent calc(50% - 8px), rgb(198, 238, 255) calc(50% - 8px), rgb(137, 188, 210) 100%);
}

hr {
    border: 1px solid #cec7b8;
}

abbr[title] {
    text-decoration: underline dotted #3e71c1;
}

mark {
    padding: 1px;
    background: #fff36b;
    border: 1px solid #ece056;
    border-radius: 1px;
}

ins {
    padding: 1px;
    color: black;
    background: #77ff9a;
    border: 1px solid #4ae672;
    border-radius: 1px;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}


/* Spoiler - https://stackoverflow.com/a/59166036/1366033 */

.spoiler {
    position: relative;
    display: inline-block;
    cursor: help;
}

.spoiler::before {
    content: 'psst\02026';
    /* &hellip; */
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 1px;
    font-size: .9rem;
    color: #e6578c;
    background: #ffe5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.7s ease, transform 0.3s ease;
    /* hide faster than reveal */
}

.spoiler:hover::before {
    opacity: 0;
    transform: translateY(-50%)rotateX(80deg);
    transition: opacity 1.0s ease, transform 0.5s ease;
    /* slower reveal */
}


/* alerts */

.alert {
    padding: 5px 10px;
    border-radius: 3px;
}

.alert.alert-warn {
    background: #fde4b6;
    border: 1px solid #f3d49b;
}

.alert-warn b {
    color: #3f2901;
}

.alert.alert-warn a,
.alert.alert-warn a:hover {
    background-image: linear-gradient(transparent 0, transparent calc(50% - 8px), #ffbe2d calc(50% - 8px), #ffbe2d 100%);
}


/* banner */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    z-index: 99;
}

.banner.banner-dark {
    background: #1b1b1b;
    color: white;
}


/* offline */

.banner-offline {
    display: none;
}

.offline .banner-offline {
    display: flex;
}


/* display list */

dl {
    display: grid;
    grid-template-columns: auto 1fr;
}

dt {
    font-weight: bold;
    margin-bottom: 0.3em;
}


/* utility */

.d-flex {
    display: flex
}

.text-muted {
    color: grey;
}

.split {
    display: flex;
}

.split>* {
    flex: 1;
    width: 50%;
}

.split hr {
    margin-top: 1.7rem;
}

.spacer {
    flex-grow: 1;
}


/* spacing utility - https://getbootstrap.com/docs/4.0/utilities/spacing/ */

.page .m-0 {
    margin: 0;
}

.page .mt-0 {
    margin-top: 0;
}

.page .mt-1 {
    margin-top: 1em;
}

.page .mt-2 {
    margin-top: 2em;
}

.page .ml-1 {
    margin-left: 1em;
}

.page .mb-0 {
    margin-bottom: 0;
}

.page .my-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.page .my-2 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.page .list-unstyled {
    list-style: none;
    padding-left: 0;
}


/* links */

.content a,
.footer a {
    color: #111;
    padding: 0;
    text-decoration: none;
    background-image: linear-gradient(transparent 0, transparent calc(50% - 8px), rgba(198, 238, 255, .35) calc(50% - 8px), rgba(198, 238, 255, .35) 100%);
    transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
}

.content a:hover,
.content a:focus,
.footer a:hover,
.footer a:focus {
    background-image: linear-gradient(transparent 0, transparent calc(50% - 8px), rgba(198, 238, 255, 1) calc(50% - 8px), rgba(198, 238, 255, 1) 100%);
    background-position: 0 100%;
}

.content a.external-link:hover::after {
    content: "";
    background-image: url(/assets/images/icons/fa/external-link.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    filter: invert(1)brightness(0.5);
    margin-left: -1px;
    margin-top: -5px;
    position: absolute;
}

.content a.post-title {
    padding: 4px;
}

.content a.post-title::before {
    height: 5px;
    bottom: 4px;
}

.content a.post-title:hover::before {
    height: calc(100% - 6px);
}


/* radio button */

.radio-buttons a {
    padding: 5px 10px;
    border: 1px solid #64747b;
}

.radio-buttons li:first-child a {
    border-radius: 4px 0px 0px 4px;
}

.radio-buttons li:last-child a {
    border-radius: 0px 4px 4px 0px
}

.radio-buttons li+li a {
    margin-left: -1px;
}

.radio-buttons a[aria-current] {
    background-image: linear-gradient(transparent 0, transparent calc(50% - 8px), rgb(221, 245, 255) calc(50% - 8px), rgba(221, 245, 255) 100%);
    background-position: 0 100%;
    cursor: default;
}


/* alt links */

.page .page .btn,
.page .footer .btn {
    border: 2px solid hsl(300, 83%, 28%);
    color: hsl(300, 83%, 28%);
    background: transparent;
    border-radius: 2px;
    padding: 1px 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease;
    transition-property: color, border-color, background;
    /* transition-duration: 0.4s;
  transition-timing-function: ease; */
}

.page .content .btn:hover,
.page .footer .btn:hover {
    color: hsl(300, 83%, 40%);
    border-color: hsl(300, 83%, 36%);
    background: hsla(300, 100%, 99%, 1);
}

.btn svg {
    height: 16px;
    margin-right: 6px;
}

.page .content .btn,
.page .footer .btn {
    background-image: none;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}

.icon-link svg {
    height: 14px;
    margin-right: 5px;
}

.content .direct-link {
    opacity: 0;
    color: grey;
    margin-left: 5px;
    transition: opacity .2s ease;
}

h1:hover .direct-link,
h2:hover .direct-link,
h3:hover .direct-link,
h4:hover .direct-link,
.direct-link:focus {
    opacity: 1;
}


/* header */

header.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2.9rem;
    font-weight: bold;
    transition: .4s ease color;
}

.site-title {
    margin-top: -4px;
    line-height: 1;
}

.site-title .coding {
    color: #f4177f;
    font-family: 'Fira Code', monospace;
    font-size: .95em;
    display: inline-block;
}

.site-title .everything {
    color: #562bbd;
    display: inline-block;
}

.coding .letter {
    display: inline-block;
    font-size: 1.7em;
    transform: scaleX(0.75)translate(8px, 4px);
}

.coding .word {
    /* https://cssgradient.io/blog/css-gradient-text/ */
    background: linear-gradient(to right, #f4177f, #562bbd);
    /* https://github.com/microsoft/vscode/issues/101249 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.everything .letter {
    font-size: 1.3em;
}

.everything .word {
    font-style: italic;
}

.brand svg {
    height: 55px;
    width: 55px;
    margin: 0px 20px;
}


/* section */

section.intro {
    margin-top: 1rem;
    font-size: 1.2em;
}

.page-title-section {
    display: flex;
    place-items: center;
    flex-wrap: wrap;
}


/* post list */

.posts {
    padding-left: 0;
    list-style: none;
    clear: both;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.post h2 {
    margin: .4em 0;
}

.post a {
    background-image: none;
    display: block;
    padding: 5px;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 5px;
    transition: background-color 120ms ease-in-out;
}

.post a:hover {
    background: rgba(198, 238, 255, 0.20)
}

.display-density-list .post a:hover {
    background: none;
}

.post .post-title {
    color: #002331;
    display: inline-block;
}

.post a .post-title {
    display: inline;
    background-image: linear-gradient(transparent 0, transparent calc(50% - 8px), rgba(198, 238, 255, .55) calc(50% - 8px), rgba(198, 238, 255, .55) 100%);
    background-size: 100% 200%;
    background-position: 0 10%;
    transition: background-position 120ms ease-in-out;
}

.post a:hover .post-title {
    background-image: linear-gradient(transparent 0, transparent calc(50% - 8px), rgba(198, 238, 255, .75) calc(50% - 8px), rgba(198, 238, 255, .75) 100%);
}

.post a .post-title:hover {
    background-image: linear-gradient(transparent 0, transparent calc(50% - 8px), rgba(198, 238, 255, 1) calc(50% - 8px), rgba(198, 238, 255, 1) 100%);
    background-position: 0 100%;
}


/* post page header */

.post-title {
    font-size: 1.7rem;
}

.page-title+.post-meta {
    margin-top: -1rem;
}

.post-meta {
    margin: .4em 0;
}

.post-authors {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: inline-flex;
}

.post-author {
    display: flex;
}

.separator {
    margin-right: 6px;
}

.post-date {
    color: #6f6f6f;
}

.page .taglist {
    margin-top: 0.5em;
}


/* post nav */

.post-nav ul {
    display: flex;
    padding-left: 0px;
    margin-top: 3em;
}

.post-nav li {
    list-style: none;
}

.post-nav a {
    max-width: 225px;
    display: inline-block;
    background-image: none;
    padding: 5px;
    margin: -5px;
}

.post-nav .next a {
    text-align: right;
}

.post-nav a .nav-arrow {
    display: inline-flex;
    align-items: center;
}

.post-nav .nav-label {
    margin: 0 10px;
}

.nav-title {
    color: #616161;
}


/* post display toggle */

.display-toggle {
    display: inline-flex;
    align-items: center;
    margin-top: 1em;
    justify-content: flex-end;
}

.page-title-section .display-toggle {
    flex-grow: 1;
}

.display-toggle-group {
    display: inline-flex;
    border: 1px solid #6d6d6d;
    border-radius: 3px;
    margin: 0px 7px;
}

.display-toggle-group label:first-child .display-icon,
.display-toggle-group label:first-child svg {
    border-right: 1px solid #6d6d6d;
    border-radius: 2px 0 0 2px;
}

.display-toggle-group label:last-child .display-icon,
.display-toggle-group label:last-child svg {
    border-radius: 0 2px 2px 0;
}

.display-icon,
.display-toggle-group svg {
    width: 35px;
    height: 30px;
    padding: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.display-toggle-group label svg {
    height: 30px;
}

.display-icon .bar {
    background: #b7b7b7;
    margin: 2px;
    border-radius: 3px;
    flex: 1 1 auto;
    min-height: 1px;
    transition: background .4s ease;
}

.display-toggle-group input[type="radio"] {
    /* display: none;  */
    /* can't hide because we still need a tab stop */
    height: 0;
    width: 0;
    position: absolute;
    left: -999px;
}

.display-toggle-group input:checked+.display-icon,
.display-toggle-group input:checked+svg {
    background: #5757ff;
    color: white;
    cursor: default;
}

input:checked+.display-icon .bar {
    background: #d4d7ff;
}

input:focus+.display-icon {
    box-shadow: 0 0 3px 1px #2196F3;
}

.display-toggle-group:focus-within {
    border-color: #2196F3;
    box-shadow: 0 0 2px 0px #2196F3;
}

.display-icon:hover {
    background: #bcbcf1;
}

.display-icon:hover .bar {
    background: #777dcc;
}

.display-density-list .post-meta,
.display-density-list .post-summary {
    display: none;
}

.display-density-list .post {
    margin-bottom: 1em;
}


/* footer */

footer.footer {
    text-align: center;
    background: hsl(233, 44%, 98%);
}

.nav-links {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.nav-links li a {
    margin: 0px 10px;
    text-decoration: none;
}

.copy-line {
    margin: .4em;
}


/* images */

img {
    max-width: 100%;
    border: 5px solid white;
    box-shadow: 1px 1px 2px 1px #c6c6c6, 0px 0px 4px 1px #c6c6c6;
    border-radius: 3px;
    vertical-align: middle;
}

svg {
    max-width: 100%;
}

.content a img {
    border: none;
    box-shadow: none;
}

.content a svg {
    width: 20px;
    height: 20px;
}

img.fa {
    box-shadow: none;
    border: none;
    height: 20px;
}

.banner-dark img.fa {
    filter: invert(1);
}


/* search form */

form.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1em;
}

form.search input {
    height: 43px;
    width: 100%;
    padding: 7px 9px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #d0d0d0;
    background: #f3f3f3;
    font-size: 1.1em;
    margin-top: 2em;
}

.searching form.search input {
    border-radius: 4px 4px 0 0;
}

form.search label {
    margin-left: -35px;
    margin-top: 2em;
    height: 20px;
    color: #676767;
}

form.search svg {
    height: 100%;
}


/* hide x from search input*/


/* clears the 'X' from Internet Explorer */

input.hide-clear[type=search]::-ms-clear,
input.hide-clear[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}


/* clears the 'X' from Chrome */

input.hide-clear[type="search"]::-webkit-search-decoration,
input.hide-clear[type="search"]::-webkit-search-cancel-button,
input.hide-clear[type="search"]::-webkit-search-results-button,
input.hide-clear[type="search"]::-webkit-search-results-decoration {
    display: none;
}


/* search results */

#search-results:empty {
    display: none;
}

#search-results {
    border: 1px solid #d0d0d0;
    border-radius: 0px 0px 4px 4px;
    padding: .5rem;
    background: white;
    left: 16px;
    right: 16px;
    z-index: 3;
}

#search-results>p:first-child {
    margin-top: 0;
}

#search-results>p {
    padding: 0 0.5rem;
}

.search-results-list {
    padding-left: 0;
    list-style: none;
}

.search-results-list .search-result {
    margin-bottom: 1rem;
}

.page .content .search-result a {
    background-image: none;
    display: block;
    padding: .5rem;
    border-radius: 4px;
}

.page .content .search-results-list a:hover {
    background-image: none;
}

.search-result a:hover {
    background: hsl(198, 65%, 97%);
}

.search-results-list h2 {
    margin: 0;
    margin-bottom: 0.4em;
    font-size: 1.3em;
}

span.match {
    /* in case we match a url */
    word-break: break-word;
}

.search-result h2 mark,
dt mark {
    background: #dfecf1;
    border-radius: 2px;
    color: #018eca;
}

.search-result .match mark,
dd mark {
    background: none;
    box-shadow: inset 0 -3px 0 0 #018ecad9;
    /* can replace text-decoration-* styles once supported */
    color: inherit;
}

.search-result .text-muted {
    color: hsl(198, 25%, 52%);
}

button#close-search {
    float: right;
    margin: 15px 0.5rem;
    padding: 2px 6px;
    border: none;
    border-radius: 3px;
    font-size: 1.5em;
    line-height: 1em;
    background: white;
    cursor: pointer;
    transition: background .4s ease;
}

button#close-search:hover {
    background: #e0e0e0;
}


/* table */

.table-wrapper {
    overflow-x: auto;
    margin: 1em 0em;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0em;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: hsla(148, 94%, 27%, 1);
    color: rgba(255, 255, 255, 0.91);
    min-width: 75px;
    /* reasonable min size, especially with break-word on */
    word-break: keep-all;
}

table td,
table th {
    border: 1px solid #9e9e9e;
    padding: 8px;
    position: relative;
    overflow: hidden;
}

table th {
    border-color: #404040;
}

table tr:nth-child(even) {
    background-color: #fefefe;
}

table tr:hover {
    background-color: #fefefe;
}

td .fill {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

td svg {
    max-width: 30px;
}


/* table highlighting */

td>ins {
    box-shadow: 0 0 0 250px #77ff9a;
    border: none;
}

td>mark {
    box-shadow: 0 0 0 250px #fff36b;
    border: none;
}


/* categories
  * tags
  * authors
  * teams
  * projects
  * departments
*/

.category-item a {
    font-weight: bold;
    font-size: 1.2em;
}

.category-count {
    border-radius: 8px;
    background: hsl(148, 24%, 95%);
    font-size: 0.8em;
    padding: 0px 6px;
    display: inline-flex;
    place-content: center;
    align-items: center;
    justify-content: center;
}

.category-description {
    margin-bottom: 1.5rem;
}


/* tag pages */

.page .content .tag-badge {
    border: 1px solid hsl(198, 23%, 52%);
    border-radius: 3px;
    padding: 1px 7px;
    background: hsl(198, 70%, 98%);
    background-image: none;
    transition: background .4s ease;
}

.page .content .tag-badge:hover {
    background: hsl(198, 76%, 93%);
}


/* unclickable */

.page .content span.tag-badge {
    background: white;
    border-color: #95b1bd;
}

.page .content span.tag-badge:hover {
    background: white;
}


/* post tags */

.post-meta .tag {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.post-meta .tag-badge {
    font-size: 0.9em;
    padding: 0px 5px;
}


/* media queries */

@media (max-width: 800px) {
    .brand {
        font-size: 2.4rem;
    }
}

@media (max-width: 650px) {
    .brand {
        font-size: 2.2rem;
    }
}

@media (max-width: 500px) {
    .brand {
        font-size: 2rem;
    }
    .brand svg {
        display: none;
    }
    .site-title {
        margin-left: 1rem;
    }
}

@media (max-width: 280px) {
    .word {
        display: none;
    }
}

@media (max-width: 420px) {
    .display-toggle-text {
        display: none;
    }
}

@media (max-width: 340px) {
    .display-toggle {
        display: none;
    }
}


/* print styles */

@media print {
    body {
        background: white;
    }
    #footer-nav {
        display: none
    }
    .page .content a {
        background: none;
        text-decoration: underline
    }
    /* .page .content a::after { content: " (" attr(href) ")"; } */
    footer.footer {
        border-top: 1px solid grey;
        background: white;
    }
    blockquote {
        background: white;
    }
    thead {
        display: table-row-group
    }
    tfoot {
        display: table-row-group
    }
    /* table tr { break-inside: avoid; } */
}


/* hamburger */

.hamburger {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    width: 35px;
    height: 30px;
    padding: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

.hamburger .bar {
    background: #5d5d5d;
    margin: 2px;
    border-radius: 2px;
    flex: 1 1 auto;
    width: 25px;
}

.hamburger:hover {
    background: #ececec;
}

.sidenav .hamburger:hover {
    background: #0b82b5;
}

.sidenav .hamburger {
    float: right;
    margin-top: 0.4rem;
    margin-right: 0.4rem;
}

.sidenav .hamburger .bar {
    background: none;
    /*  middle bar */
}

.sidenav .hamburger .bar:first-child {
    background: #fff;
    transform: translateY(8px)rotate(45deg);
}

.sidenav .hamburger .bar:last-child {
    background: #fff;
    transform: translateY(-8px)rotate(-45deg);
}


/* custom select */

::-moz-selection {
    background: #97defd;
    /* Gecko Browsers */
}

::selection {
    background: #97defd;
    /* WebKit/Blink Browsers */
}

.highlight-theme-ocean .hljs *::-moz-selection {
    background: #562bbd;
    /* WebKit/Blink Browsers */
}

.highlight-theme-ocean .hljs * ::selection {
    background: #562bbd;
    /* WebKit/Blink Browsers */
}


/* custom scrollbar */


/* width */

::-webkit-scrollbar {
    width: 12px;
    height: 10px
}

nav::-webkit-scrollbar {
    width: 5px;
}

aside::-webkit-scrollbar {
    width: 0px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #d8d7ca;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #381884;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #1f81ab;
}

.color-theme-dark::-webkit-scrollbar-track {
    background: black;
}


/* code block */


/* don't scroll so copy btn has fixed frame */

.page .hljs-container.hljs {
    overflow: hidden;
    position: relative;
    padding: 0;
}


/* scroll on inner container */

.page .hljs-container.hljs .hljs {
    overflow-x: auto;
    padding: 0;
}


/* pad inner most container */

.page .hljs-container.hljs .hljs code {
    overflow: visible;
    padding: 10px;
}

.code-header {
    padding: 3px 7px;
    font-variant: small-caps;
}


/* copy snippet */

.hljs {
    margin: 0;
}

.btn-copy {
    position: absolute;
    right: .5em;
    top: .5em;
    opacity: 0;
    transition: opacity .4s ease;
}

.hljs:hover .btn-copy,
.btn-copy:focus {
    opacity: 1;
}

.btn-text {
    font-size: 1.1em;
    margin-right: .5em;
}

.btn-icon {
    display: flex;
    align-items: center;
    padding: 3px 6px;
    border: none;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    border-radius: 1px;
    margin: 1px;
    border: 1px solid transparent;
    width: auto;
    white-space: normal;
    user-select: none;
    color: inherit;
}

.btn-icon:focus {
    outline: none;
    border: 1px solid #2196F3;
    box-shadow: 0px 0px 1px 1px #2196F3;
}

.btn-icon img {
    border: none;
    box-shadow: none;
    width: 15px;
}


/* light / dark syntax theme toggles */

.btn-icon:hover {
    color: black;
}

.highlight-theme-ocean .btn-icon:hover,
.highlight-theme-vs .btn-icon:hover {
    color: white;
}

.highlight-theme-ocean .btn-copy img,
.highlight-theme-vs .btn-copy img {
    filter: invert(1);
}


/* dark syntax */

.highlight-theme-ocean .hljs mark,
.highlight-theme-ocean .hljs mark *,
.highlight-theme-vs .hljs mark,
.highlight-theme-vs .hljs mark * {
    background: #726a17;
    border: none;
    color: inherit;
    font-weight: bold;
}


/* light syntax */

.highlight-theme-gist .hljs mark,
.highlight-theme-gist .hljs mark *,
.highlight-theme-github .hljs mark,
.highlight-theme-github .hljs mark * {
    background: #fff36b;
    border: none;
    color: inherit;
    font-weight: bold;
}


/* disable transitions during page load */

.page-loading,
.page-loading * {
    transition: none !important;
}


/* tweets */

.page .tweet-card a,
.page .tweet-card a:hover {
    background-image: none;
}


/* checkboxes */

.checkbox input[type="checkbox"] {
    opacity: 0;
    width: 1px;
    height: 1px;
}

.checkbox label {
    position: relative;
    display: inline-block;
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    /*Needed for the line-height to take effect*/
    display: inline-block;
}


/*Outer box of the fake checkbox*/

.checkbox label::before {
    height: 16px;
    width: 16px;
    border: 1px solid;
    left: -2px;
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 4px;
    border-radius: 1px;
}


/*Checkmark of the fake checkbox*/

.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 1.5px;
    top: 8px;
    border-color: white;
}


/*Hide the checkmark by default*/

.checkbox input[type="checkbox"]+label::after {
    content: none;
}


/*Unhide on the checked state*/

.checkbox input[type="checkbox"]:checked+label::after {
    content: "";
}

.checkbox input[type="checkbox"]:checked+label::before {
    background: #4e8bd6;
}


/*Adding focus styles on the outer-box of the fake checkbox*/

.checkbox input[type="checkbox"]:focus+label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.checkbox+br {
    /* md will add extra whitespace */
    display: none;
}