{# capture the JS content as a Nunjucks variable #}
{% set js %}{% include "assets/scripts/settings-display-density.js" %}{% endset %}
{# feed it through our jsmin filter to minify #}
<script type="text/javascript">{{ js | jsmin | safe }}</script>

<div class="display-toggle my-1">

  <label for="card" class="display-toggle-text">Card</label>

  <div class="display-toggle-group">
    <label >
      <input type="radio" name="display-toggle" value="card" id="card" checked>
      <div class="display-icon" aria-label="Card">
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </label>
    <label >
      <input type="radio" name="display-toggle" value="list" id="list">
      <div class="display-icon" aria-label="List">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </label>
  </div>

  <label for="list" class="display-toggle-text">List</label>

</div>
