<ul class="posts">
{%- for post in postList -%}
  <li class="post"><a href="{{ post.url }}">
    {% set page_title = post.data.title or (post.data.renderData and post.data.renderData.title) or post.fileSlug %}
    <h2 class="post-title">{{ page_title }}</h2>

    <div class="post-meta">
      {% if post.data.date %}
        <span class="post-date">{{ post.data.date | dateDisplay }}</span>
      {% endif %}
    </div>  
    
    {% if post.data.summary %}
      <div class="post-summary">{{ post.data.summary }}</div>
    {% endif %}

    </a>
  </li>
{%- endfor -%}
</ul>
