<ul class="posts">
{%- for post in postList -%}
  <li class="post"><a href="{{ post.url }}">
    {% set page_title = post.data.title or (post.data.renderData and post.data.renderData.title) %}
    <h2 class="post-title">{{ page_title }}</h2>

    <div class="post-meta">
      <span class="post-date">{{ post.data.date | dateDisplay }}</span>
    </div>
    

    <div class="post-summary">{{ post.data.summary }}</div>
    </a>
  </li>
{%- endfor -%}
</ul>
