<form action="https://www.google.com/search" id="form-search" class="search" autocomplete="off">
    <input type="search" name="q" id="input-search" class="hide-clear" placeholder="Type to search" autocomplete="off">
    <label for="input-search" aria-label="Search Page">
      {% include "assets/images/icons/fa/search.svg" %}
    </label>
</form>

<div id="search-results"></div>

{# 
  must include assets/scripts/search.js at end of body
  use pageClass: search
#}
