---
layout: default.njk
---
        
{% if draft %}
  <div class="alert alert-warn">
    This post is in <a href="/drafts/">Draft Mode</a> - it will not appear on the site or in search results
  </div>
{% endif %}

{% set page_title = title or (renderData and renderData.title) %}
<h1 class="page-title">{{page_title}}</h1>
        
<div class="post-meta">


  {% if updated %}
    <div class="post-date"><strong>Created</strong>: {{ date | dateDisplay }}</div>
    <div class="post-date"><strong>Updated</strong>: {{ updated | dateDisplay }}</div>
    <div class="post-date"><strong>Author{% if authors.length > 1 %}s{% endif %}</strong>:
  {% elseif date %}
    <span class="post-date">{{ date | dateDisplay }}</span> -
  {% endif %}
  
  <span class="post-byline">
    KyleMit
  </span>
  
  {# wrap byline with field label if we have multiple dates #}
  {% if updated %}
    </div>
  {% endif %}

  {% if tag %}
  <ul class="taglist list-unstyled d-flex m-0">
    {% for tag in tags | contentTags %}
      <li class="tag">
        {% set tagInfo = taglist | findByName(tag) %}
        {% if tagInfo %}
          <a href="/tags/{{tag}}" class="tag-badge" title="{{tagInfo.description}}">{{ tag }}</a>
        {% else %}
          <span class="tag-badge">{{ tag }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  
</div>


{% if hero %}
  <div class="hero">
    <img src="{{hero}}" alt="{{page_title}} thumnail">
  </div>
{% endif %}

{% if source %}
<ul id="source-code" class="nav-links">
    <li>
        <a class="icon-link" href="https://github.com/KyleMit/CodingEverything/tree/master/code-samples/{{ source }}">
            {% include "assets/images/icons/fa/download.svg" %}
            Download Source Code
        </a>
    </li>
    <li>
        <a class="icon-link" href="/code-samples/{{ source }}.zip">
            {% include "assets/images/icons/fa/folder-open.svg" %}
            Browse Source Code
        </a>
    </li>
</ul>
{% endif %}



{{ content | safe }}
    
<nav class="post-nav">
  <ul>
    {% if prevPost.url %}
      <li class="prev"><a  href="{{ prevPost.url }}">
        <div class="nav-arrow">
          {% include "assets/images/icons/fa/arrow-left.svg" %}
          <span class="nav-label">Previous</span>
        </div>
        <div class="nav-title">{{ prevPost.data.title or (prevPost.data.renderData and prevPost.data.renderData.title) }}</div>
      </a></li>
    {% endif %}
    <li class="spacer"></li>
    {% if nextPost.url %}
      <li class="next"><a href="{{ nextPost.url }}">
        <div class="nav-arrow">
          <span class="nav-label">Next</span>
          {% include "assets/images/icons/fa/arrow-right.svg" %}
        </div>
        <div class="nav-title">{{ nextPost.data.title or (nextPost.data.renderData and nextPost.data.renderData.title) }}</div>
      </a></li>
    {% endif %}

  </ul>
</nav>
