---
layout: default.njk
title:  "Gone Offline"
permalink: "offline.html"
summary: "You're offline and so are we"
eleventyExcludeFromCollections: true
---


<h1 class="page-title">{{title}}</h1>

<section class="intro">
    <p>
        Looks like you've gone offline and we don't have <span id="page-reference">this particular page</span> cached
    </p>
    <p>
        In the meantime, please enjoy this drawing of a cat
    </p>
</section>


<div class="hero">
{% include "assets/images/undraw_playful_cat_.svg" %}
</div>



<style type="text/css">
.hero {
    margin-top: 2em;
}
.hero svg {
    height: 404px;
}
</style>

<script type="text/javascript">
// inlclude requested url path in page
var path = window.location.pathname;
var pageRef = document.getElementById("page-reference");
pageRef.innerHTML = "<a href='" + path + "'>" + path + "</code>";
</script>
